<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'events'}); -%>
    <main class="p-3">
      <table class="table">
        <thead>
          <tr>
            <th class="border-0"><a href="open_mics/" class="btn <%= (order === 'events') ? 'btn-dark' : 'btn-primary' -%>">Name</a></th>
            <th class="border-0"><a href="/acts" class="btn <%= (order === 'events') ? 'btn-dark' : 'btn-primary' -%>">Act</a></th>
            <th class="border-0"><a href="/date" class="btn <%= (order === 'events') ? 'btn-dark' : 'btn-primary' -%>">Date</a></th>
          </tr>
        </thead>
        <tbody>
          <%_ for (const event of events) { -%>
            <tr>
              <td><a href="/open_mics/<%= event.name -%>"><%= event.name -%></a></td>
              <td><%= event.act -%></td>
              <td><%= event.date -%></td>
            </tr>
          <%_ } -%>
        </tbody>
      </table>
    </main>
  </body>
</html>