<!DOCTYPE html>
<html>
    <%- include('../head'); -%>
    <body>
      <%- include('../navbar', {active: 'open_mics'}); -%>
      <div class="container-fluid">
        <div class="row">
          <div class="col-auto p-3 border-right">
            <nav class="nav nav-pills flex-column">
              <%_ for (const event of events) { -%>
              <%_ const status = (event.getTime() === show[0].date.getTime() ) ? 'active bg-warning text-dark' : 'inactive'; -%>
              <a href="/open_mics/<%= event -%>"
                class="nav-item nav-link text-dark <%= status -%>"><%= event.toString().slice(4,15) -%></a>
              <%_ } -%>

            </nav>
          </div>
          <div class="col">
              <main class="p-3">
                  <%_ if (admin) { -%>
                      <%- include('./private'); -%>
                  <%_ } else {-%>
                      <%- include('./public'); -%>
                  <%_ } %>
              </main>
          </div>
        </div>
      </div>
    </body>
    <%- include('../foot'); -%>
    <%- include('./scripts'); -%>
</html>
