<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'open_mics'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">
          <nav class="nav nav-pills flex-column">
            <%_ for (const event of events) { -%>
              <%_ const status = (date.date === event.date) ? 'active bg-dark' : 'inactive'; -%>
              <a href="/open_mics/<%= event.date -%>" class="nav-item nav-link <%= status -%>"><%= event.date -%></a>
            <%_ } -%>
          </nav>
        </div>
        <div class="col">
          <main class="p-3">
            <h2><%= date.date -%></h2>
            <p><%= date.act -%></p>
            
          </main>
        </div>
      </div>
    </div>
  </body>
</html>