
  <ul class="list-group" id="lineup">
    <li class="list-group-item text-center" style="background-color:rgb(78, 8, 87);">
      <% if(show[0].approved){ %>
        <h4 class="text-light">Line Up for <%= date[0].date.toString().slice(4,15) -%> at <%=   date[0].date.toString().slice(16,21) -%></h4>
      <% } else{ %>
        <h4 class="text-light">There is currently no lineup for this show. Check back later!</h4>
      <% }-%>
    </li>
    <%_ for (const performer of show) { -%>
      <% if(performer.approved){ %>
        <li class="list-group-item"><%= performer.name -%> - <%= performer.description -%></li>
      <% }-%>
    <%_ } -%>
  </ul>

<div id="signupform" class="text-center">
  <h3>Sign Up Form for <%= date[0].date.toString().slice(4,15) -%> at <%=   date[0].date.toString().slice(16,21) -%></h3>

  <p>Do you love to play groovy jazz music? Do you want to show off your very best rendition of 
    Jack Johnson's Banana Pancakes? Can you tap dance like your life depends on it?</p>
  <p>Whatever you got, we want it! Sign up
    below and show us your stuff!</p>

  <form id="create" class="form p-4">
      <input type="hidden" id="date" name="date" value="<%= date[0].date %>">
      <input type="text" name="name" placeholder="Name"
          class="form-control form-control-lg font-weight-bold mb-1 ">
      <textarea name="description" placeholder="Singing? Dancing? Let us know what you plan to do!" rows="3" class="form-control mb-1"></textarea>
      <input type="hidden" id="approved" name="approved" value="<%= false %>">
      <button type="submit" class="submit btn btn-warning">Submit</button>

  </form>
</div>


<div class="text-center mt-3 mb-3">
    <button id="showform" class="btn btn-warning">Sign Up for this Open Mic</button>
</div>
<div class="text-center mt-3 mb-3">
    <button id="showlineup" class="btn btn-warning">Return to Line Up</button>
</div>
