
<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'shows'}); -%>
    <main class="p-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm ">
                        <h3 class="text-center">Edit Show</h3>
                        <form class="form">
                            <input type="datetime-local" name="date" value="<%=show.date_string_internal()-%>"
                                class="form-control form-control-lg font-weight-bold mb-1">
                            <input type="text" name="performers" placeholder="Performers" value="<%=show.performers-%>"
                                class="form-control form-control-lg font-weight-bold mb-1">
                            <textarea name="description" placeholder="Description" rows="3" class="form-control mb-1"><%=show.description-%></textarea>
                            <textarea name="link" placeholder="Site Link" rows="3" class="form-control mb-1"><%=show.link-%></textarea>
                            <textarea name="image" placeholder="Image URL" rows="3" class="form-control mb-1"><%=show.image-%></textarea>
                            <div class="text-center">
                                <button id='edit' class="btn btn-warning m-2">Save</button>
                                <a href='/shows' class="btn btn-warning m-2">Discard changes</a>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
    </main>
  </body>
  <!-- scripts for this page go here instead of the general file b/c they need access to the specific "show" variable -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>

      timezonefix = function(date){
          const str = date.toJSON.slice(0,16);
          const hrs = (parseInt(str.slice(11,13)) - 4)%24;
          return str.slice(0,11)+hrs+str.slice(14,16);
      }
      $('#edit').on('click', function(event) {
        const form = $(this.closest('form'));
        event.preventDefault();
        const date = form.children()[0].value;
        if (date === ''){
            alert('Date and time are required!')
        } else {
        $.ajax({method: 'put', url: '/shows/<%=show.id-%>', data: form.serialize()})
          .done(data => window.location.href ='/shows')
          .fail(error => alert(error.responseText));
      }
      });
  </script>

  <%- include('../foot'); -%>
</html>
