
<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'shows'}); -%>
    <main class="p-3">
        <%_ if (admin) { -%>
            <%- include('./private'); -%>
        <%_ } else {-%>
            <%- include('./public'); -%>
        <%_ } %>
    </main>
  </body>
  <%- include('./scripts', {shows:shows}); -%>
    <%- include('../foot'); -%>
</html>
