<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'shows'}); -%>
    <main class="p-3">
      <table class="table">
        <thead>
          <tr>
            <th class="border-0">Act</th>
            <th class="border-0">Date</th>
          </tr>
        </thead>
        <tbody>
          <%_ for (const show of shows) { -%>
            <tr>
              <% if (show.link) { %>
                <td><a href="<%= show.link -%>"><%= show.performers -%></a></td>
              <% } else { %>
                <td><%= show.performers -%></td>
              <% } %>
              <td><a href="/shows/<%=show.date-%>"><%= show.date -%></a></td>
            </tr>
          <%_ } -%>
        </tbody>
      </table>
    </main>
  </body>
</html>
