<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'shows'}); -%>
    <main class="p-3">
      <table class="table">
        <thead>
          <tr>
            <th class="border-0">Act(s)</th>
            <th class="border-0">Description</th>
            <th class="border-0">Date</th>
          </tr>
        </thead>
        <tbody>
          <%_ for (const show of shows) { -%>
            <tr>
              <% if (show.link !== undefined) %>
                <td><%= show.performers -%></td>
                <% } %>
              <td><%= show.description -%></td>
              <td><%= show.date -%></td>
            </tr>
          <%_ } -%>
        </tbody>
      </table>
    </main>
  </body>

</html>
