<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'shows'}); -%>
    <main class='p-3'>
        <h2><%= show.performers -%></h2>
        <h4><%= show.date_string() -%></h4>
        <p>
            <%= show.description -%>
        </p>
    </main>
  </body>
    <%- include('../foot'); -%>
</html>
